/*.root {
    -fx-background-color: #F5F5F5;
}

.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1565C0;
}*/


